<form action="/cart" method="POST">
  <button type="submit" class="btn">Add to cart</button>
  <input name="_csrf" type="hidden" value="<%= csrfToken %>">
  <input type="hidden" name="productId" value="<%= product._id %>"/>
</form>